@import './SignInColor.scss';

.list {
  font-size: 18px;
  text-align: left;
}

.auth-form-sign-in {
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  margin: 5%;
  max-width: 400px;
  color: $white;
  border-radius: 15px;
  padding: 5%;
  text-align: left;
  width: 30%;
  font-family: 'Thasadith', sans-serif;
}

  button {
    font-family: 'Thasadith', sans-serif;
    align-self: center;
    max-width: 200px;
    background-color: $charcoal;
    color: red;
  }
