body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/images/capstone.jpg');
  background-repeat: no-repeat;
  // background-size: 100% 100%;
  // background-size: 300px 100px;
}
